<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <div
      hx-trigger="load"
      hx-get="/src/components/ContentUploader.html"
      hx-swap="outerHTML"
    ></div>
    <div
      hx-trigger="load"
      hx-get="/src/components/BaseTemplateUploader.html"
      hx-swap="outerHTML"
    ></div>

    <button hx-on:click="build()">build</button>

    <div id="output"></div>

    <script>
      const parser = new DOMParser();

      var mdContent = null;
      var templateBase = null;
      function build() {
        const output = document.getElementById("output");

        if (!mdContent || !templateBase) {
          alert("Please upload both files");
          return;
        }

        // add md content on top of base template
        const body = templateBase.documentElement.body;
        body.innerHTML += marked.parse(mdContent);

        // render the whole template
        output.innerHTML = templateBase.documentElement.innerHTML;
      }
    </script>

    <script type="text/javascript" src="/lib/zip.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <!-- htmx & hyperscript -->
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
  </body>
</html>
