<div>
  <input
    hx-on:change="validateSize(this, 2000000) ? null : alert('File size must be less than 2MB')"
    type="file"
    id="templateInput"
    accept=".rar, .zip, .html"
  />
  <button hx-on:click="uploadTemplateFile()">Upload Template Zip</button>
</div>
<script src="/src/helper/index.js"></script>
<script>
  function uploadTemplateFile() {
    const templateInput = document.getElementById("templateInput");
    if (templateInput.files.length !== 0) {
      const file = templateInput.files[0];

      const fileReader = new FileReader();
      const parser = new DOMParser();
      fileReader.onload = function (e) {
        let parsed = parser.parseFromString(e.target.result, "text/html");
        parsed.documentElement.body =
          parsed.documentElement.getElementsByTagName("body")[0];
        uploadedTemplateBase = parsed;
        updatePreview();
      };
      fileReader.readAsText(file);
    } else {
      alert("Please upload a file");
    }
  }
</script>
