<div>
  <input
    hx-on:change="validateSize(this,2000000) ? null : alert('File size must be less than 2MB')"
    type="file"
    id="fileInput"
    accept=".md, .txt"
    multiple
  />
  <button hx-on:click="uploadFile()">Upload Content Files</button>
</div>
<script>
  function uploadFile() {
    const fileInput = document.getElementById("fileInput");
    const files = fileInput.files;

    if (files.length !== 0) {
      // check overlap
      if (isFileNameOverlap(files)) {
        alert("All files must have distinct name");
        return;
      }

      // show list of uploaded files
      uploadedFiles = files;
      updatePreview();
    } else {
      alert("Please upload a file");
    }
  }
</script>
