<!DOCTYPE html>
<html>
  <head> </head>
  <body> 
    <iframe height="650" width="800" id="previewFrame" src="data:text/html;charset=utf-8;base64,"></iframe>
    <script>
        let result = sessionStorage.getItem("result") ;   
      if (result) { 
        result = btoa(result);
        const iframe = document.getElementById("previewFrame"); 
        iframe.src+=result; 
        // console.log(result);
        // document.open();  
        // document.write(result)
        // document.close();
      }
    </script>
  </body>
</html>
